// Matrix.scss
.matrix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .matrix-table {
    border-collapse: collapse;
    margin: 10px 0;
    border: 2px solid #ffffff;

    .matrix-td {
      border: 1px solid #ffffff;
      padding: 10px;
      text-align: center;
      min-width: 40px;
      min-height: 40px;
    }
  }
}
